* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}

a {
	text-decoration: none;
	color: #5a5a5a;
}

img {
	cursor: pointer;
}

.flex-div {
	display: flex;
	align-items: center;
	background: #fff;
}
nav {
	padding: 10px 2%;
	justify-content: space-between;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	position: static;
	top: 0;
	z-index: 10;
}

.nav-left .menu-icon {
	width: 22px;
	margin-right: 25px;
}

.nav-left .logo {
	width: 130px;
	margin-top: 0px;
}

.nav-middle .search-mic {
	width: 16px;
}
.nav-middle .searchbox{
	padding: 8px 12px;
	border-radius: 25px;
	margin-right: 15px;
	border: 1px solid #ccc;
}
.nav-middle .searchbox input {
	background: transparent;
	outline: 0;
	border: 0;
	width: 400px;

}
.nav-middle .searchbox .search-icon {
	width: 25px;
}

.nav-right .user-icon {
	width: 35px;
	border-radius: 50%;
	margin-right: 0;
}

.nav-right img{
	width: 25px;
	margin-right: 25px;
}
